<%= form_for FakeModel.new, :url => result_url do |f| %>

  <p>
    <%= f.label :recurring_rules, "no defaults and not set" %><br/>
    <%= f.select_recurring :recurring_rules %>
  </p>

  <p>
    <%= f.label :current_custom_rule, "no defaults but custom rule" %><br/>
    <%= f.select_recurring :current_custom_rule %>
  </p>

  <p>
    <%= f.label :recurring_rules, "defaults but not set" %><br/>
    <%= f.select_recurring :recurring_rules, [
      IceCube::Rule.weekly(2).day(:monday, :wednesday, :friday),
      IceCube::Rule.monthly.day_of_month(-1),
      IceCube::Rule.yearly.day_of_year(1)
    ] %>
  </p>

  <p>
    <%= f.label :current_existing_rule, "default and set" %><br/>
    <%= f.select_recurring :current_existing_rule, [
      IceCube::Rule.weekly.day(:monday, :wednesday, :friday),
      IceCube::Rule.monthly.day_of_month(-1)
    ], :allow_blank => true %>
  </p>

  <p>
    <%= f.label :current_custom_rule, "defaults and custom" %><br/>
    <%= f.select_recurring :current_custom_rule, [
      IceCube::Rule.weekly.day(:monday, :wednesday, :friday),
      IceCube::Rule.monthly.day_of_month(-1)
    ] %>
  </p>

  <p>
    <%= f.label :non_recurring_rule, "default with custom non-recurring rule" %><br/>
    <%= f.select_recurring :non_recurring_rule, [
      ["Custom non-blank option", 1],
      IceCube::Rule.monthly.day_of_month(-1)
    ], :allow_blank => true %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
